@charset "utf-8";
.enkaku-logo {
    width: 500px;
    height: 400px;
    margin-bottom: 0px;
}
#ennkaku-manifest{
    text-align: center;
}
#EmmanuelJosephSieyès{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}
@media screen and (max-width: 1012px) {
    #ennkaku-manifest{
        display: none;
    }
}