@charset "utf-8";
.sns  {
    text-align: center;
    height: 100px;
    justify-content: center;
}
footer a {
    margin : 0 10px;
}
.footer-logo {
    width: 96px;
    height:96px ; 
    margin:auto;
}
footer{
    padding: 10px;
    text-align: center;
    
}