@charset "utf-8";
.clear-fix::after{
    content: "";
    display:block;
    clear:both;
}
header nav ul li {
    width: 200px;
    height : 30px;
    float: left;
    text-align: center;
    text-decoration: none;
    background-color: rgba(177, 39, 39, 0.800);
    margin: 2px;
    border-radius: 15px;
}
ul {
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    color: black;
}
.header-logo {
    margin: auto;
    width: 96px;
    height: 96px;
}
.header-image {
  display: flex;
  float: left;
}