@charset "utf-8";
@font-face {
    font-family: "test-first";
    src: url('/font/logotypeCondense.otf') format('opentype');
}
body{
    font-family: "test-first";
    margin: 0px;
}
main{
    margin: 40px 120px;
    margin-bottom: 0px;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px #888;
}
#header{
    width : 100%;
    margin: auto;
}
#footer{
    width : 100%;
    margin: 0px;
    padding: 0px;
    background-color: dimgray;
}
.main-description{
    text-align: center;
}