@charset "utf-8";
@font-face {
    font-family: "test-first";
    src: url('/font/logotypeCondense.otf') format('opentype');
}
body{
    font-family: "test-first";
}
main{
    margin: 30px 40px;
}
#header{
    width : 100%;
    margin: auto;
}
#footer{
    width : 100%;
    margin: auto;
}
.main-description{
    text-align: center;
}