@charset "utf-8";
.twitter-timeline{
    width : 400px;
    height: 500px;
}
#news{
    margin: 0 20px;
    height: 500px;
}
#notice{
    float: left;
    width: 50%;
    height: 500px;
}
#twitter{
    float: left;
    width : 50%;
}